@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --txt-clr-light: #1e2138;
    --card-clr-light: #ffffff81;
    --card-txt-clr-light: #1e2138;
    --card-hover-txt-clr: #fff;
    --card-hover-clr: #1e2138;
    --done-clr: #64ef5f;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background: url(./assets/background.svg);
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 16px;
    margin-top: 20px;
}

header > h1{
    color: var(--txt-clr-light);
    white-space: nowrap;
    font-weight: 600;
    font-size: clamp(1.4rem, 6vw, 2rem);
    margin-bottom: 4px;
}

header > p{
    color: var(--txt-clr-light);
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 1.2rem);
    text-align: center;
}

.social-links-container{
    display: grid;
    grid-template-columns: max(30%, 250px);
    gap: 16px;
    justify-content: center;
    padding: 20px 0;
}

.social-links-container .link-card{
    /*background-color: var(--card-clr-light);*/
    box-shadow: 0px 0px 50px 0px rgba(30,33,56,0.3);

    background: linear-gradient(to right, var(--card-hover-clr) 50%, var(--card-clr-light) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease;
    border-radius: 4px;
    border-left: 6px solid var(--card-hover-clr);
}

.social-links-container .link-card:hover{
    /*transition: 0.2s;
    background-color: var(--card-hover-clr);*/
    background-position: left bottom;
    cursor: pointer;
}

.social-links-container .link-card .card-content{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
}

.social-links-container .link-card .card-content .external-icon,
.social-links-container .link-card .card-content .copy,
.social-links-container .link-card .card-content .copied{
    position: absolute;
    right: 0;
    margin-right: 12px;
}

.social-links-container .link-card:hover .card-content .external-icon::before{
    font-family: "Font Awesome 5 Free";
    content: '\f0c1';
    font-weight: 900;
    font-size: 1rem;
    color: var(--card-hover-txt-clr);
}

.social-links-container .link-card .card-content #twitter-logo{
    color: #000;
} 

.social-links-container .link-card:hover .card-content #twitter-logo{
    color: var(--card-hover-txt-clr);
} 

.social-links-container .link-card:hover .card-content .copy::after{
    font-family: "Font Awesome 5 Free";
    content: '\f328';
    font-weight: 500;
    font-size: 1rem;
    color: var(--card-hover-txt-clr);
}

.social-links-container .link-card .card-content .copied::after{
   content: 'Email Copied!';
   background-color: #2f3454;
   color: #9af36d;
   font-size: clamp(0.7rem, 2vw, 1rem);
   border-radius: 5px;
   padding: 4px 8px;
}

.social-links-container .link-card a{
    text-decoration: none;
}

.social-links-container .link-card span{
    color: var(--card-txt-clr-light);
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 1.25em);
}

.social-links-container .link-card:hover span{
    color: var(--card-hover-txt-clr);
    font-size: clamp(1rem, 3vw, 1.25em);
}

footer{
    font-size: 1rem;
    color: var(--txt-clr-light);
    font-weight: 500;
    margin-bottom: 10px;

    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}